<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Razorvine.Pyrolite" version="4.10.0.0" targetFramework="net45" />
  <package id="Razorvine.Serpent" version="1.12.0.0" targetFramework="net45" />
  <package id="Microsoft.SparkCLR" version="2.0.200" targetFramework="net45" />

  <!-- *** ****************************************************************** *** -->
  <!-- *** Following references are needed for publishing events to EventHubs *** -->
  <!-- *** ****************************************************************** *** -->  
  <!-- Uncomment the following section if EventPublisher class is used to publish events 
  <package id="Microsoft.Azure.ServiceBus.EventProcessorHost" version="2.1.1" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="3.1.2" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net45" />
  -->
</packages>
