<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="NUnit" version="3.0.1" targetFramework="net45" />
  <package id="NUnit.Console" version="3.0.1" developmentDependency="true" />
  <package id="OpenCover" version="4.6.166" targetFramework="net45" developmentDependency="true" />
  <package id="Razorvine.Pyrolite" version="4.10.0.0" targetFramework="net45" />
  <package id="Razorvine.Serpent" version="1.12.0.0" targetFramework="net45" />
</packages>