<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--********************************************************************************************************-->
    <!--** Uncomment the following settings to run Spark perf suite driver executable in **local** or **debug** modes ** -->
    <!--** In debug mode, the driver is not launched by CSharpRunner but launched from VS or command prompt not configured for SparkCLR ** -->
    <!--** CSharpBackend should be launched in debug mode as well and the port number from that should be used below ** -->
    <!--** Command to launch CSharpBackend in debug mode is "sparkclr-submit.cmd debug" ** -->
    <!--********************************************************************************************************-->

    <!--
    <add key="CSharpWorkerPath" value="C:\SparkCLR\csharp\Samples\Microsoft.Spark.CSharp\bin\Debug\CSharpWorker.exe"/>    
    <add key="CSharpBackendPortNumber" value="0"/>
    -->
    
  </appSettings>
</configuration>