<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%thread] [%-5level] [%logger] - %message%newline" />
      </layout>
    </appender>

  </log4net>

  <appSettings>
    <!--********************************************************************************************************-->
    <!--** Uncomment the following settings to run Spark driver executable in **local** or **debug** modes ** -->
    <!--** In debug mode, the driver is not launched by CSharpRunner but launched from VS or command prompt not configured for SparkCLR ** -->
    <!--** CSharpBackend should be launched in debug mode as well and the port number from that should be used below ** -->
    <!--** Command to launch CSharpBackend in debug mode is "sparkclr-submit.cmd debug" ** -->
    <!--********************************************************************************************************-->

    <!--
    <add key="CSharpWorkerPath" value="C:\Git\Mobius\examples\HdfsWordCount\bin\Debug\CSharpWorker.exe"/>
    <add key="CSharpBackendPortNumber" value="0"/>
    -->
  </appSettings>
</configuration>
